.goods {
    width: 294px;
    height: 400px;
    float: left;
}

.row1 {
    width: 294px;
    height: 25px;
}

.r1 {
    height: 300px;
}

.r1 img {
    width: 294px;
    height: 300px;
}
.r3{
    line-height: 25px;
    text-align: center;
    font-size: 15px;
}

.r2 {
    height: 50px;
}
.r2 .a{
    width:50px;
    height:50px;
    float: left;
    margin-left: 10px;
}
.r2 .a img{
    width:50px;
    height:50px;
}